

:root {
  --bulma-body-background-color: #f5f5f5;
}

:root {
  --bulma-primary-h: 100deg;
  --bulma-primary-l: 27%;
}

:root {
  --bulma-primary-h: 346deg;
  --bulma-warning-h: 29deg;
  --bulma-warning-s: 84%;
  --bulma-warning-l: 83%;
}
